.first-color {
  background: #f9fcfd;
}

.second-color {
  background: #80d5f7;
}

.third-color {
  background: #59a2f5;
}

.fourth-color {
  background: #f4f5f0;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: #030f79;
  font-weight: 700;
  font-size: 45px;
  margin: 0 16px;
}

hr {
  color: #092cf7;
}

a {
  color: #030f79;
  text-decoration: none;
}

a:hover {
  color: #030f79;
}

.active {
  font-weight: 700;
}
.active:hover {
  text-decoration: none;
}
.app-box {
  max-width: 600px;
  background: radial-gradient(#E1F5FE,#B3E5FC,#4FC3F7);
  border: 5px solid #01579B;
  ;
  border-radius: 8px;
  position: relative;
  top: 50px;
  margin-bottom: 10px;
}

.col-location-change {
  margin: 16px;
}
.current-location {
  border-color: #01579B;
  color: #F44336;
  font-size: 14px;
  text-align: left;
  margin: 2px;
  width: 97%;
}

.current-location:hover {
  background-color: #01579B;
  border-color: #D32F2F;
  color: #01579B;
}

.city-search {
  display: inline;
  font-size: 15px;
  width: 53%;
  margin: 2px;
  margin-left: 0;
  border-radius: 8px;
}

.change-city {
  font-size: 14px;
  text-align: center;
  background-color:radial-gradient(#E1F5FE,#B3E5FC,#f390ee);
  border-color: #01579B;
  margin: 2px;
  padding: 6px 0;
  width: 42%;
  border-radius: 8px;
}

.change-city:hover {
  background-color: radial-gradient(#E1F5FE,#B3E5FC,#f390ee);
  border-color: #2a335c;
}
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.icon {
  color: #030f79;
  margin: 16px;
}

.temperature {
  color: #030f79;
  font-size: 45px;
  margin: 0 16px;
  line-height: 1.2;
}

.units {
  font-size: 45px;
  font-weight: 700;
}

.weather-details {
  margin: 16px;
  margin-bottom: 0;
  font-size: 14px;
}

.weather-recommendation {
  background: #ebe0d399;
  border: 2px solid #f3eadf;
  border-radius: 8px;
  text-align: center;
  line-height: 30px;
  margin: 16px;
  margin-bottom: 0;
  padding: 5px 20px;
}

.date-time {
  margin: 16px;
  margin-bottom: 0;
  font-size: 14px;
}

.forecast {
  margin: 16px 0;
}

.forecast-date {
  font-weight: bold;
}

.forecast-icon {
  width: 50px;
}

.forecast-max {
  font-weight: normal;
}

.forecast-min {
  font-weight: lighter;
  opacity: 0.8;
}

.footer {
  text-align: center;
  padding: 65px;
}
